@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var names = ViewBag.names;
    // var price = ViewBag.Price;
}
@using X.PagedList.Mvc;
@using X.PagedList; ﻿
@model X.PagedList.IPagedList<BTL_ASP_Web_Sport.Data.Product>
@using X.PagedList.Mvc.Core;

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#" method="get">
                            <input type="text" name="name" value="@names" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card" style="box-shadow: none">
                                <div class="card-heading">
                                    <a>Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul style="height: auto ">
                                                @foreach (var p in ViewBag.allCate)
                                                {
                                                    <li><a style="text-decoration:none" asp-controller="Shop" asp-action="Index" asp-route-id="@p.CateId">@p.CateName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="box-shadow: none">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <div class="card-body">
                                                <div class="shop__sidebar__price">
                                                    <ul>
                                                        <li><a style="text-decoration:none" asp-action="Index" asp-controller="Shop" asp-route-minPrice="0" asp-route-maxPrice="50">$0.00 - $50.00</a></li>
                                                        <li><a style="text-decoration:none" asp-action="Index" asp-controller="Shop" asp-route-minPrice="50" asp-route-maxPrice="100">$50.00 - $100.00</a></li>
                                                        <li><a style="text-decoration:none" asp-action="Index" asp-controller="Shop" asp-route-minPrice="100" asp-route-maxPrice="150">$100.00 - $150.00</a></li>
                                                        <li><a style="text-decoration:none" asp-action="Index" asp-controller="Shop" asp-route-minPrice="150" asp-route-maxPrice="200">$150.00 - $200.00</a></li>
                                                        <li><a style="text-decoration:none" asp-action="Index" asp-controller="Shop" asp-route-minPrice="200" asp-route-maxPrice="250">$200.00 - $250.00</a></li>
                                                        <li><a style="text-decoration:none" asp-action="Index" asp-controller="Shop" asp-route-minPrice="250" asp-route-maxPrice="9999999">$250.00+</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <form method="get" action="@Url.Action("Index")">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select id="priceSort" name="price" onchange="this.form.submit()">
                                        <option value="minPrice" selected="@(ViewBag.Price == "minPrice")">Low To High</option>
                                        <option value="maxPrice" selected="@(ViewBag.Price == "maxPrice")">High To Low</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        @* <form method="get" action="@Url.Action("Index")">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select id="priceSort" name="price" onchange="this.form.submit()">
                                        <option value="minPrice" selected="@(ViewBag.Price == "minPrice")">Low To High</option>
                                        <option value="maxPrice" selected="@(ViewBag.Price == "maxPrice")">High To Low</option>
                                    </select>
                                </div>
                            </div>
                        </form> *@
                    </div>
                </div>
                <div class="row">
                    @foreach (var n in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item">
                                <div class="product__item__pic set-bg">
                                    <a asp-controller="Shop" asp-action="Detail" asp-route-id="@n.ProId">
                                        <img src="@(Url.Content("~/Uploads/products/" + n.ProImage))" alt="Alternate Text" />
                                    </a>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="/user/img/icon/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="/user/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                        <li><a href="#"><img src="/user/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@n.ProName</h6>
                                    <h5>$@n.ProPrice</h5>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <nav aria-label="Page navigation example ml-3">
                    <ul class="pagination ml-3">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                                 new PagedListRenderOptions
                        {
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                            UlElementClasses = new[] { "pagination" }
                        })
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
